/*variables*/
div {
  background-color: grey; }

.container-fluid {
  background-color: gray; }

#navbarNav {
  justify-content: center;
  font-size: 22px;
  letter-spacing: 0.1rem; }

.navbar {
  padding-top: 0%; }

.logo p a img {
  display: flex;
  width: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box; }

.pagina-central {
  background-color: black;
  /*agregando flexbox*/
  flex-flow: row wrap; }
  .pagina-central h1 {
    color: grey;
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 15px; }
  .pagina-central .encabezado-secundario {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }

.imagenes-principales {
  text-align: center;
  background-color: black; }

.pie-pagina {
  background-color: bisque;
  text-align: center; }
  .pie-pagina .iconos-index {
    font-size: 1%; }
  .pie-pagina .iconos-index :hover {
    background-color: #b81f1f;
    border-radius: 40px; }

/*Pagina Expedientes*/
.hola-titulo {
  color: grey;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

.body-expedientes {
  margin: 0;
  padding: 0; }
  .body-expedientes .row {
    display: flex;
    padding: 8px;
    flex-wrap: wrap; }
  .body-expedientes .column {
    flex: 25%;
    padding: 8px; }
  .body-expedientes .column img {
    margin-top: 8px; }

.piepagina-expedientes {
  background-color: bisque;
  text-align: center; }

/*Pagina Peliculas*/
.menu-peliculas {
  color: black;
  background-color: grey;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 4px;
  padding: 12px; }

.main-peliculas {
  background-color: #bf8181; }

.titulo-peliculas {
  background-color: black;
  font-family: 'Montserrat', sans-serif; }

.titulo-secundario-peliculas {
  background-color: brown;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 100%;
  height: 250px; }
  .container .imag {
    width: 100%;
    height: 250px; }

.lista-tabla {
  background-color: gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center; }
  .lista-tabla .hola-tabla {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center; }

.piepagina-peliculas {
  background-color: bisque;
  text-align: center; }

/*Pagina Videos*/
.titulo-videos {
  background-color: black;
  font-family: 'Montserrat', sans-serif; }

.fondo-videos {
  background-color: brown;
  text-align: center; }
  .fondo-videos .embed-responsive {
    background-color: brown; }

.titulosecuendario-video {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: solid 2px antiquewhite; }

.secundario-video {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: solid 2px antiquewhite; }

.piedepagina-video {
  background-color: bisque;
  text-align: center; }

/*Pagina Contacto*/
.div-contacto {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }

.piepagina-contacto {
  background-color: bisque;
  text-align: center; }

.iconos :hover {
  background-color: #b81f1f;
  border-radius: 40px; }

@media (max-width: 800px) {
  .pagina-central {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 800px) {
  .menu-principal {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 600px) {
  .menu-principal {
    flex: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 800px) {
  .body-expedientes .column {
    flex: 50%; } }

@media (max-width: 600px) {
  .body-expedientes .column {
    flex: 100%; } }

@media (max-width: 600px) {
  .fondo-videos {
    flex: 100%; } }
