/*Sacando las viñetas  de la lista no ordenada*/
*{list-style:none;}

/*Inicio*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    background-color: gray
}
#navbarNav {
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0.1rem;
}
.navbar {
    padding-top: 0%;
}

h1{
    color:grey;
    font-size: 3rem; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 5px; padding: 15px;
}

.logo p a img{ 
    display: flex;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.encabezado-secundario{
    color: white ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.pagina-central{
    background-color: black;
        /*agregando flexbox*/
    flex-flow: row wrap;
}
.imagenes-principales{
    text-align: center;
    background-color: black;
}
.imagen-v{
    width: 900px;
    border: solid 2px antiquewhite;
    }
.pie-pagina{
    background-color: bisque;
    text-align: center;
}
.iconos-index {
    font-size: 1%;
    
}
.iconos-index :hover {
    background-color: aqua;
    
}

/*Pagina Expedientes*/

.menu-expedientes{
    color: black;
    background-color: grey;
    font-family:  'Montserrat', sans-serif;
    text-align: center;
    margin: 5px; padding: 15px;
}
.hola-titulo{
    color:grey;
    background-color:black;
    font-family:  'Montserrat', sans-serif;
}
.hola-imagenes{
    background-color: rgb(209, 132, 132);
}
.piepagina-expedientes{
    background-color: bisque;
}

/*Pagina Peliculas*/

.menu-peliculas{
    color: black;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5px; padding: 15px;
}
.main-peliculas{
background-color: rgb(191, 129, 129);
}
.titulo-peliculas{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.titulo-secundario-peliculas{
    background-color: brown;
    font-family: 'Montserrat', sans-serif;
}
.lista-tabla{
    background-color:gray ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
.hola-tabla{
    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.piepagina-peliculas{
    background-color: bisque;
    text-align: center;
}

/*Pagina Videos*/

.menu-videos{
    color: black;
    background-color: grey;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    margin: 5px; padding: 15px;
}
.titulo-videos{
    background-color:black ;
    font-family:'Montserrat', sans-serif  ;
}
.fondo-videos{
    background-color: brown;
    text-align: center;
}
.titulosecuendario-video{
    color: antiquewhite;
    background-color: black;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    border: solid 2px antiquewhite;
}
.secundario-video{
    color: antiquewhite;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: solid 2px antiquewhite;
}
.piedepagina-video{
    background-color: bisque;
    text-align: center;
}

/*Pagina Contacto*/

.menu-contacto{
    color: black;
    background-color: grey;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    margin: 5px; padding: 15px;
}
.div-contacto{
    color: antiquewhite;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.piepagina-contacto{
    background-color: bisque;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .menu-principal{
        Display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}