/*variables*/
div {
  background-color: grey; }

.red-youtube {
  color: red; }

.red-facebook {
  color: blue; }

.red-instagram {
  color: #a007b4; }

* {
  list-style: none; }

.container-fluid {
  background-color: gray; }

#navbarNav {
  justify-content: center;
  font-size: 22px;
  letter-spacing: 0.1rem; }

.navbar {
  padding-top: 0%; }

.logo p a img {
  display: flex;
  width: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box; }

.pagina-central {
  background-color: black;
  /*agregando flexbox*/
  flex-flow: row wrap; }
  .pagina-central h1 {
    color: grey;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem; }
  .pagina-central .encabezado-secundario {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }

.imagenes-principales {
  text-align: center;
  background-color: black; }

.piepagina-index {
  background-color: bisque;
  text-align: center;
  font-size: 13px; }
  .piepagina-index .iconos {
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px; }
  .piepagina-index .red-instagram :hover {
    background-color: #a007b4;
    border-radius: 40px; }
  .piepagina-index .red-facebook :hover {
    background-color: blue;
    border-radius: 40px; }
  .piepagina-index .red-youtube :hover {
    background-color: red;
    border-radius: 40px; }

/*Pagina Imagenes*/
.hola-titulo {
  color: grey;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem; }

.body-imagenes {
  margin: 0;
  padding: 0; }
  .body-imagenes .row {
    display: flex;
    padding: 8px;
    flex-wrap: wrap; }
  .body-imagenes .column {
    flex: 25%;
    padding: 8px; }
  .body-imagenes .column img {
    margin-top: 8px; }

.piepagina-imagenes {
  background-color: bisque;
  text-align: center;
  font-size: 13px; }
  .piepagina-imagenes .iconos {
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px; }
  .piepagina-imagenes .red-instagram :hover {
    background-color: #a007b4;
    border-radius: 40px; }
  .piepagina-imagenes .red-facebook :hover {
    background-color: blue;
    border-radius: 40px; }
  .piepagina-imagenes .red-youtube :hover {
    background-color: red;
    border-radius: 40px; }

/*Pagina Peliculas*/
.menu-peliculas {
  color: black;
  background-color: grey;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 4px;
  padding: 12px; }

.body-peliculas {
  margin: 0;
  padding: 0; }
  .body-peliculas .body-peliculas {
    background-color: #bf8181;
    font-family: 'Montserrat',sans-serif; }
    .body-peliculas .body-peliculas .main-conteiner {
      margin: 150px auto;
      width: 600px; }
      .body-peliculas .body-peliculas .main-conteiner table {
        background-color: white;
        text-align: left;
        border-collapse: collapse;
        width: 100%; }
      .body-peliculas .body-peliculas .main-conteiner th {
        padding: 20px; }
      .body-peliculas .body-peliculas .main-conteiner td {
        padding: 20px; }
      .body-peliculas .body-peliculas .main-conteiner thead {
        background-color: black;
        border-bottom: solid 5px  brown;
        color: white; }
      .body-peliculas .body-peliculas .main-conteiner tr:nth-child(even) {
        background-color: gray; }
      .body-peliculas .body-peliculas .main-conteiner tr :hover {
        background-color: #bf8181;
        color: white; }

.titulo-peliculas {
  color: grey;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3rem; }

.titulo-secundario-peliculas {
  color: black;
  background-color: brown;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem; }

.titulo-secundario {
  color: black;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem; }

.container {
  width: 100%;
  height: 250px; }
  .container .imag {
    width: 100%;
    height: 250px; }

.piepagina-peliculas {
  background-color: bisque;
  text-align: center;
  font-size: 13px; }
  .piepagina-peliculas .iconos {
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px; }
  .piepagina-peliculas .red-instagram :hover {
    background-color: #a007b4;
    border-radius: 40px; }
  .piepagina-peliculas .red-facebook :hover {
    background-color: blue;
    border-radius: 40px; }
  .piepagina-peliculas .red-youtube :hover {
    background-color: red;
    border-radius: 40px; }

/*Pagina Videos*/
.titulo-videos {
  color: gray;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 4rem; }

.fondo-videos {
  background-color: brown;
  text-align: center; }
  .fondo-videos .embed-responsive {
    background-color: brown; }

.title-segundo, .title-tercero {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: solid 2px antiquewhite; }

.secundario-video {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: solid 2px antiquewhite; }

.piepagina-videos {
  background-color: bisque;
  text-align: center;
  font-size: 13px; }
  .piepagina-videos .iconos {
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px; }
  .piepagina-videos .red-instagram :hover {
    background-color: #a007b4;
    border-radius: 40px; }
  .piepagina-videos .red-facebook :hover {
    background-color: blue;
    border-radius: 40px; }
  .piepagina-videos .red-youtube :hover {
    background-color: red;
    border-radius: 40px; }

/*Pagina Contacto*/
.div-contacto {
  color: grey;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3rem; }

.piepagina-contacto {
  background-color: bisque;
  text-align: center;
  font-size: 13px; }
  .piepagina-contacto .iconos {
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px; }
  .piepagina-contacto .red-instagram :hover {
    background-color: #a007b4;
    border-radius: 40px; }
  .piepagina-contacto .red-facebook :hover {
    background-color: blue;
    border-radius: 40px; }
  .piepagina-contacto .red-youtube :hover {
    background-color: red;
    border-radius: 40px; }

@media (max-width: 800px) {
  .pagina-central {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 800px) {
  .menu-principal {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 600px) {
  .menu-principal {
    flex: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 800px) {
  .body-imagenes .column {
    flex: 50%; } }

@media (max-width: 600px) {
  .body-imagenes .column {
    flex: 100%; } }

@media (max-width: 600px) {
  .fondo-videos {
    flex: 100%; } }
