@import "variables";

//Operaciones
$spacing: 2px;

//Mixins
@mixin title( $fsize,$colorfondo,$color) {
    color:$color;
    background-color: $colorfondo;
    font-family:  'Montserrat', sans-serif;
    text-align: center;
    font-size:$fsize ;
}
//Mapas
$redes: (
    youtube: red,
    facebook: blue,
    instagram: rgb(160, 7, 180),
);

@each $red, $color in $redes {
    .red-#{$red} {
        color:$color
    }
    
}

*{list-style:none;}

body {
    background-color: gray;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.container-fluid {
    background-color: antiquewhite
}
#navbarNav {
    background-color: antiquewhite;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0.1rem;
}
.navbar {
    padding-top: 0%;

}

.logo p a img{ 
    display: flex;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
/*Carrusel de BootStrap*/
#carouselExampleControls { /*Este seria el Carousel sacado de Bootsrap, que agregamos a Index*/
    border-radius: 2%;
    width: 80%;
    height: 180;
    object-fit: center;
    left: 10%;
}


.pagina-central{
    background-color: black;
        /*agregando flexbox*/
    flex-flow: row wrap;
    h1{  
    @include title(3rem,black,grey )

    }
        .encabezado-secundario{
            color: white ;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        
}
.imagenes-principales{
    text-align: center;
    background-color:black
}
.piepagina-index {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: bisque;
    text-align: center;
    font-size: 13px;
    .iconos{
    display: inline-flex;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube :hover{ 
        background-color: red;
        border-radius: 40px;
    }
}


/*Pagina Imagenes*/

.img-galeria {
    max-width: 100%;
}
.column {
    flex: 25%;
    padding: 5px;
}
.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin: 1px;
}
.hola-titulo{
    @include title(2rem,black,grey)
}
.body-imagenes{
    .column{
        padding: $spacing*5;}
        padding: 10px;
        margin: 15px;
        .column img{
            margin-top: $spacing*4;
        }
}


.piepagina-imagenes{

    background-color: bisque;
    text-align: center;
    font-size: 13px;
    .iconos{
    display: inline-flex;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube :hover{ 
        background-color: red;
        border-radius: 40px;
    }
}





/*Pagina Peliculas*/
.bg-light {
    --bs-bg-opacity: 0;
}
.imag {
    max-width: 100%

}
.menu-peliculas{
    @include title(2rem, grey,black );
    margin:$spacing*2; padding:$spacing*6;
}

.main-peliculas{
background-color: gray;
display: flex;
justify-content: center;
font-family:'Montserrat', sans-serif; 
font-weight: bold;
text-align: center;
}

.titulo-peliculas{
    @include title(3rem,black,grey)
}


    .titulo-secundario{ margin: 10px;
        @include title(2rem,antiquewhite,black);
        border: solid 2px black;
    
    }


.titulo-secundario-peliculas {
    margin: 10px;
    @include title(2rem,antiquewhite ,black)

}

.container{  
    width: 100%;
    height: 250px;
    .imag {
        width: 100%;
        height: 250px;
}
}
.lista-tabla{
    background-color: #bfbdc1;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.piepagina-peliculas{

    background: antiquewhite;
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        text-align: center;
    }
    .iconos{
    display: flex;
    justify-content: center;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube :hover{ 
        background-color: red;
        border-radius: 40px;
    }
}


/*Pagina Videos*/


.titulo-videos{         
    @include title( 4rem,black,gray )

}
.fondo-videos{
    text-align: center;
}

    //Extend
.title-segundo{  
    color: antiquewhite;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: solid 2px antiquewhite;
} 
.title-tercero{
    @extend .title-segundo;
    
}
.video__1 {
    max-width: 100%;
}

.video__2 {
    max-width: 100%;
}

.piepagina-videos{

    background: antiquewhite;
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        text-align: center;
    }
    .iconos{
    display: flex;
    justify-content: center;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube :hover{ 
        background-color: red;
        border-radius: 40px;
    }
}


/*Pagina Contacto*/

.div-contacto{
@include title( 3rem,black, grey)
}
.parrafo-contacto {
    text-align: center;
    color:white;
    background-color: black;
    font-size: 200%;
    margin: 40px;
}

.h2__contacto {
    text-align: center;
}

.form-register {
    width: 400px;
    background-color: antiquewhite;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Courier New', Courier, monospace;
    color: #3e4144;
}
.form-register h3 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background-color: #3e4144;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #616263;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #ffffff;
}
.form__botones {
    width: 100%;
    background-color: #616263;
    border: none;
    padding: 12px;
    color:bisque;
    margin: 16px 0;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}

.piepagina-contacto{

    background-color: bisque;
    text-align: center;
    margin-top: 5%;
    font-size: 13px;
    .iconos{
    display: inline-flex;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube :hover{ 
        background-color: red;
        border-radius: 40px;
    }
}

//media querys
@media  (max-width:800px) {
    .pagina-central{
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}

@media  (max-width:800px) {
    .menu-principal{
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}
@media  (max-width:600px) {
    .menu-principal{
    flex: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}


@media (max-width:600px){
    .fondo-videos{
        flex: 100%;
    }
} 
@media  (max-width:1024px) {
    .piepagina-videos {
        position: relative;
        top: 10%;
    }
}
@media  (max-width:800px) {
    .piepagina-videos {
        top: 200px;
    }

}
@media  (max-width:320px) {
    .piepagina-videos {
        top: 200px;
    }

}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

@media  (max-width:800px) {
    .parrafo-contacto{
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}
@media  (max-width:600px) {
    .parrafo-contacto{
    flex: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }
}