@import "variables";

//Operaciones
$spacing: 2px;

//Mixins
@mixin title( $fsize,$colorfondo,$color) {
    color:$color;
    background-color: $colorfondo;
    font-family:  'Montserrat', sans-serif;
    text-align: center;
    font-size:$fsize ;
}
//Mapas
$redes: (
    youtube: red,
    facebook: blue,
    instagram: rgb(160, 7, 180),
);

@each $red, $color in $redes {
    .red-#{$red} {
        color:$color
    }
    
}

*{list-style:none;}




.container-fluid {
    background-color: gray
}
#navbarNav {
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0.1rem;
}
.navbar {
    padding-top: 0%;

}

.logo p a img{ 
    display: flex;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}


.pagina-central{
    background-color: black;
        /*agregando flexbox*/
    flex-flow: row wrap;
    h1{  
    @include title(3rem,black,grey )

    }
        .encabezado-secundario{
            color: white ;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        
}
.imagenes-principales{
    text-align: center;
    background-color:black
}
.piepagina-index{

    background-color: bisque;
    text-align: center;
    font-size: 13px;
    .iconos{
    display: inline-flex;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube{ 
        background-color: red;
        border-radius: 40px;
    }
}


/*Pagina Expedientes*/


.hola-titulo{
    @include title(2rem,black,grey)
}
.body-expedientes{
    margin: 0;
    padding: 0;
    .row{
        display: flex;
        padding: $spacing*4;
        flex-wrap: wrap;}
    .column{
        flex: 25%;
        padding: $spacing*4;}
        .column img{
            margin-top: $spacing*4;
        }
}


.piepagina-expedientes{

    background-color: bisque;
    text-align: center;
    font-size: 13px;
    .iconos{
    display: inline-flex;
    padding-left:3px;
    padding-right:3px ;}
        
    .red-instagram :hover{
        background-color: #a007b4;
        border-radius: 40px;
    }

    .red-facebook :hover{
        background-color: blue;
        border-radius: 40px;

    }
    .red-youtube{ 
        background-color: red;
        border-radius: 40px;
    }
}





/*Pagina Peliculas*/

.menu-peliculas{
    @include title(2rem, grey,black );
    margin:$spacing*2; padding:$spacing*6;
}

.main-peliculas{
background-color: rgb(191, 129, 129);
}
.titulo-peliculas{
    @include title(3rem,black,grey)
}
.titulo-secundario-peliculas{
    @include title(2rem,brown ,black)

}
.container{  
    width: 100%;
    height: 250px;
    .imag {
        width: 100%;
        height: 250px;
}
}
.lista-tabla{
    background-color:gray ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    .hola-tabla{
        font-family:'Montserrat', sans-serif; 
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
}

.piepagina-peliculas{
    background-color: bisque;
    text-align: center;
}

/*Pagina Videos*/

.titulo-videos{         
    @include title( 4rem,black,gray )

}
.fondo-videos{
    background-color: brown;
    text-align: center;
    .embed-responsive {
        background-color: brown;
    } }
    //Extend
.title-segundo{  
    color: antiquewhite;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: solid 2px antiquewhite;
} 
.title-tercero{
    @extend .title-segundo;
    
}




    .secundario-video{
        color: antiquewhite;
        background-color: black;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        border: solid 2px antiquewhite;
    }


.piedepagina-video{
    background-color: bisque;
    text-align: center;
}

/*Pagina Contacto*/

.div-contacto{
@include title( 3rem,black, grey)
}
.piepagina-contacto{
    background-color: bisque;
    text-align: center;
} 
.iconos :hover {
    background-color: rgb(184, 31, 31);
    border-radius: 40px; 
}








//media querys
@media  (max-width:800px) {
    .pagina-central{
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}

@media  (max-width:800px) {
    .menu-principal{
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}
@media  (max-width:600px) {
    .menu-principal{
    flex: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    }

}
@media (max-width:800px){ 
    .body-expedientes{
        .column{
            flex: 50%;
            
        }
    }
}
@media (max-width: 600px){ 
    .body-expedientes{
        .column{
            flex: 100%;
    }
}
}

@media (max-width:600px){
    .fondo-videos{
        flex: 100%;
    }
}